{% extends "base.html" %}
{% block home_status %}active{% endblock home_status %}

{% load static %}

{% block slider %}

    <!-- slider section -->
    <section class="slider_section ">
      <div id="customCarousel1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container ">
              <div class="row">
                <div class="col-md-7 col-lg-6 ">
                  <div class="detail-box">
                    <h1>
                      Afridi Cricket Academy
                    </h1>
                    <p>
                      Welcome to Afridi Cricket Academy! We are committed to developing the next generation of cricket stars through expert coaching and personalized training. Whether you're just starting or aiming for professional levels, our academy provides the perfect environment to enhance your skills and achieve your cricketing goals. Join us and take your game to the next level!
                    </p>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>
    <!-- end slider section -->
    
    {% endblock slider %}

{% block main %}


  <!-- food section -->

  <section class="food_section layout_padding-bottom">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Players Option
        </h2>
      </div>
      <ul class="filters_menu">
        <li class="active" data-filter="*">All</li>
        {% for i in player_list %}
        <li data-filter=".{{ i.category_role }}">{{ i.category_role }}</li>
        {% endfor %}
     </ul>
      <div class="filters-content">
        <div class="row grid">
          {% for j in player %}
          <div class="col-sm-6 col-lg-4 all {{j.category_name}}">
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="/media/{{j.image}}" alt="{{j.image}}">
                </div>
                <div class="detail-box">
                  <h5>
                    {{j.full_name}}  
                  </h5>
                  <p>
                    Add# {{j.address}} 
                  </p>
                  <div class="options">
                    <h6>
                      Mobile: {{j.phone_no}} 
                    </h6>
                    <a href="{% url 'player_detail' j.id %}" class="btn btn-primary">More</a>
                    </div>
                </div>
              </div>
            </div>
          </div>     
          {% endfor %}
        </div>
      </div>
      <div class="btn-box">
        <a href="#">
          View More Player Options
        </a>
      </div>
      
  </section>

  <!-- end food section -->
  
  <!-- book section -->
  {% comment %} <!-- Registration Section -->
<section class="register_section layout_padding">
  <div class="container">
      <div class="heading_container">
          <h2>
              Join Afridi Cricket Academy – Register Now!
          </h2>
      </div>
      <div class="row">
          <div class="col-md-6">
              <div class="form_container">
                  <form action="{% url 'Register' %}" method="POST" enctype="multipart/form-data">
                      {% csrf_token %}
                      
                      <div>
                          <input type="text" class="form-control" name="player_name" required placeholder="Player Name" />
                      </div>

                      <div>
                          <input type="text" class="form-control" name="phone_number" required placeholder="Phone Number" />
                      </div>

                      <div>
                          <input type="email" class="form-control" name="user_email" placeholder="Your Email" />
                      </div>

                      <div>
                          <input type="text" class="form-control" name="address" required placeholder="Address" />
                      </div>

                      <div>
                          <select class="form-control nice-select wide" required name="match_experience">
                              <option value="" disabled selected>
                                  How many matches have you played?
                              </option>
                              <option value="10">10 Matches</option>
                              <option value="20">20 Matches</option>
                              <option value="30">30 Matches</option>
                              <option value="40+">40+ Matches</option>
                          </select>
                      </div>

                      <div>
                          <select class="form-control nice-select wide" required name="player_role">
                              <option value="" disabled selected>Choose Your Role</option>
                              <option value="Batsman">Batsman</option>
                              <option value="Bowler">Bowler</option>
                              <option value="All-Rounder">All-Rounder</option>
                              <option value="Wicket-Keeper">Wicket-Keeper</option>
                          </select>
                      </div>

                      <div>
                          <select class="form-control nice-select wide" required name="skill_level">
                              <option value="" disabled selected>
                                  Select Your Skill Level
                              </option>
                              <option value="beginner">Beginner</option>
                              <option value="intermediate">Intermediate</option>
                              <option value="advanced">Advanced</option>
                          </select>
                      </div>

                      <div>
                          <label>Upload Your Image:</label>
                          <input type="file" required name="player_image" class="form-control" accept="image/*">
                      </div>

                      <div>
                          <label>Date of Birth:</label>
                          <input type="date" required name="dob" class="form-control">
                      </div>

                      <div>
                          <label>Registration Date:</label>
                          <input type="date" required name="registration_date" class="form-control">
                      </div>

                      <div class="btn_box">
                          <button type="submit">
                              Register Now
                          </button>
                      </div>

                  </form>
              </div>
          </div> {% endcomment %}

          <div class="col-md-6">
              <div class="map_container">
                  <div id="googleMap"></div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- End Registration Section -->


  <!-- end book section -->

  <!-- client section -->

  <section class="client_section layout_padding-bottom">
    <div class="container">
      <div class="heading_container heading_center psudo_white_primary mb_45">
        <h2>
          What Says Our Players
        </h2>
      </div>
      
      <div class="carousel-wrap row ">
        <div class="owl-carousel client_owl-carousel">
          {% for k in review %}
          <div class="item">
            <div class="box">
              <div class="detail-box">
                <p>
                  {{k.Description}}
                </p>
                <h6>
                  {{k.User_name}}
                </h6>
                <p>
                  Rating : {{k.Rating}}/5
                </p>
              </div>
              <div class="img-box">
                <img src="/media/{{k.Image}}" alt="{{k.Image}}" class="box-img">
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      
    </div>
  </section>

  <!-- end client section -->


{% endblock main %}