{% extends "base.html" %}
{% block home_status %}active{% endblock home_status %}

{% load static %}

{% block slider %}

    <!-- slider section -->
    <section class="slider_section ">
      <div id="customCarousel1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container ">
              <div class="row">
                <div class="col-md-7 col-lg-6 ">
                  <div class="detail-box">
                    <h1>
                      Afridi Cricket Academy
                    </h1>
                    <p>
                      Welcome to Afridi Cricket Academy! We are committed to developing the next generation of cricket stars through expert coaching and personalized training. Whether you're just starting or aiming for professional levels, our academy provides the perfect environment to enhance your skills and achieve your cricketing goals. Join us and take your game to the next level!
                    </p>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>
    <!-- end slider section -->
    
    {% endblock slider %}

{% block main %}


  <!-- food section -->

  <section class="food_section layout_padding-bottom">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Players Option
        </h2>
      </div>
      <ul class="filters_menu">
        <li class="active" data-filter="*">All</li>
        {% for i in player_list %}
        <li data-filter=".{{ i.category_role }}">{{ i.category_role }}</li>
        {% endfor %}
     </ul>
      <div class="filters-content">
        <div class="row grid">
          {% for j in player %}
          <div class="col-sm-6 col-lg-4 all {{j.category_name}}">
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="/media/{{j.image}}" alt="{{j.image}}">
                </div>
                <div class="detail-box">
                  <h5>
                    {{j.full_name}}  
                  </h5>
                  <p>
                    Add# {{j.address}} 
                  </p>
                  <div class="options">
                    <h6>
                      Mobile: {{j.phone_no}} 
                    </h6> 
                    <a href="{% url 'player_detail' j.id %}" class="btn btn-primary">More</a>
                    </div>
                </div>
              </div>
            </div>
          </div>     
          {% endfor %}
        </div>
      </div>
      <div class="btn-box">
        <a href="{% url 'Players' %}">
          View More Player Options
        </a>
      </div>
      
  </section>
  <!-- client section -->

  <section class="client_section layout_padding-bottom">
    <div class="container">
      <div class="heading_container heading_center psudo_white_primary mb_45">
        <h2>
          What Says Our Players
        </h2>
      </div>
      
      <div class="carousel-wrap row ">
        <div class="owl-carousel client_owl-carousel">
          {% for k in reviews %}
          <div class="item">
            <div class="box">
              <div class="detail-box">
                <p>
                  {{k.description}}
                </p>
                <h6>
                  {{k.user_name}}
                </h6>
                <p>
                  Rating : {{k.rating}}/5
                </p>
              </div>
              <div class="img-box">
                <div class="img-box">
                  {% if k.image %}
                      <img src="{{ k.image.url }}" alt="{{ k.user_name }}" class="box-img">
                  {% else %}
                      <img src="/static/aca.jpg" alt="No Image" class="box-img">
                  {% endif %}
              </div>
              
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      
    </div>
  </section>

  <!-- end client section -->


{% endblock main %}